<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/CSS/style.css" /> -->
        <link rel="stylesheet" href="/CSS/article-topics.css" />
        <link rel="icon" href="/images/favicon.png">
        <title> Articles On EVs</title>
    </head>

    <!-- <body>

        <div class="wrapper"></div>

        <!-- topic1 -->

    <!-- <div class="parallax-one">
            <h1 class="text-over-parallax">Why We Should Transition To EVs</h1>
        </div>

        <div class="topic1">
            <div class="article-flex">

                <div class="article">

                    <a href="single-article-prototype.html"><img src="images/blog-article1.gif"></a>
                    <p>No More Road Accidents </p>

                </div>

                <div class="article">
                    <a href="single-article-prototype.html"><img src="images/blog-article2.png"></a>
                    <p>Consider Switching Now...</p>

                </div>

            </div>
        </div> -->

    <!-- topic2 -->

    <!-- <div class="parallax-two">
            <h1 class="text-over-parallax">How To Charge At Home And On The Road</h1>
        </div>

        <div class="topic2">
            <div class="article-flex">
                <div class="article">
                    <a href="single-article-prototype.html"><img src="images/blog-article3.webp"></a>
                    <p>Charge your Ev At Home... </p>
                </div>

                <div class="article">
                    <a href="single-article-prototype.html"><img src="images/blog-article4.png"></a>
                    <p>OR on The Road </p>
                </div>
            </div>
        </div> -->

    <!-- topic3 -->

    <!-- <div class="parallax-three">
            <h1 class="text-over-parallax">Electric Vehicles - Separating Fact From Fiction</h1>
        </div>

        <div class="topic3">
            <div class="article-flex">
                <div class="article">
                    <a href="single-article-prototype.html"><img src="images/blog-article5.jpg"></a>
                    <p>Know Your Facts</p>
                </div>

                <div class="article">
                    <a href="single-article-prototype.html"><img src="images/blog-article6.png"></a>
                    <p>Don't Be Misled</p>
                </div>
            </div>
        </div> -->





    <!-- </body> --> -->

    <script src="./js/articleApp.js" type="module"></script>


</html>