<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/CSS/style.css"/> -->
        <link rel="stylesheet" href="/CSS/vehicle-prototype.css" />
        <title>Vehicles</title>
    </head>

    <body class="body">

        <div class="wrapper"></div>
        <!--
  
  <header class="header-container">

    <div class="header">
        <ul>
            <li class="website-title">
                <h1>Compar<span>EV</span></h1>
            </li>
        </ul>
    </div>

    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="./index.html" target="_blank">Home</a></li>
        <li><a href="https://vanila.io" target="_blank">Vehicles</a></li>
        <li><a href="https://instagram.com/plavookac" target="_blank">Articles</a></li>
        <li><a href="https://twitter.com/plavookac" target="_blank">Contacts</a></li>
      </ul>
    </div>
    
</header>

-->

        <div class="vehicle-page-title">
            <h1 class="title-text">Check Out Our Wide Selection of EVs</h1>
        </div>

        <div class="grid-container">

            <!-- 
      
      <div class="grid-item">
          <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
          <div class="text-container">
                  <p>*name of vehicle* </p>
                  <p> *price of vehicle*</p>
                  <p> *mpg*</p>
                  <button class="explore-button"><a></a>Explore</button>
          </div>
      </div>

      <div class="grid-item">
          <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
          <div class="text-container">
            <p>*name of vehicle* </p>
            <p> *price of vehicle*</p>
            <p> *mpg*</p>
           <button class="explore-button"><a></a>Explore</button>
          </div>
      </div>
      <div class="grid-item">
          <img id="vehicle3" src="images/ford.PNG" style="width:100%">
          <div class="text-container">
            <p>*name of vehicle* </p>
            <p> *price of vehicle*</p>
            <p> *mpg*</p>
           <button class="explore-button"><a></a>Explore</button>
          </div> 
      </div>  
      <div class="grid-item">
          <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
          <div class="text-container">
            <p>*name of vehicle* </p>
            <p> *price of vehicle*</p>
            <p> *mpg*</p>
           <button class="explore-button"><a></a>Explore</button>
          </div>
      </div>
      <div class="grid-item">
          <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
          <div class="text-container">
            <p>*name of vehicle* </p>
            <p> *price of vehicle*</p>
            <p> *mpg*</p>
           <button class="explore-button"><a></a>Explore</button>
          </div>
      </div>
      <div class="grid-item">
        <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
        <div class="text-container">
          <p>*name of vehicle* </p>
          <p> *price of vehicle*</p>
          <p> *mpg*</p>
         <button class="explore-button"><a></a>Explore</button>
        </div>
    </div>
    <div class="grid-item">
        <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
        <div class="text-container">
          <p>*name of vehicle* </p>
          <p> *price of vehicle*</p>
          <p> *mpg*</p>
         <button class="explore-button"><a></a>Explore</button>
        </div>
    </div>
    <div class="grid-item">
        <img id="vehicle3" src="images/ford.PNG" style="width:100%">
        <div class="text-container">
          <p>*name of vehicle* </p>
          <p> *price of vehicle*</p>
          <p> *mpg*</p>
         <button class="explore-button"><a></a>Explore</button>
        </div> 
    </div>  
    <div class="grid-item">
        <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
        <div class="text-container">
          <p>*name of vehicle* </p>
          <p> *price of vehicle*</p>
          <p> *mpg*</p>
         <button class="explore-button"><a></a>Explore</button>
        </div>
    </div>
    <div class="grid-item">
        <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
        <div class="text-container">
          <p>*name of vehicle* </p>
          <p> *price of vehicle*</p>
          <p> *mpg*</p>
         <button class="explore-button"><a></a>Explore</button>
        </div>
    </div>
    <div class="grid-item">
      <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
      <div class="text-container">
        <p>*name of vehicle* </p>
        <p> *price of vehicle*</p>
        <p> *mpg*</p>
       <button class="explore-button"><a></a>Explore</button>
      </div>
  </div>
  <div class="grid-item">
      <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
      <div class="text-container">
        <p>*name of vehicle* </p>
        <p> *price of vehicle*</p>
        <p> *mpg*</p>
       <button class="explore-button"><a></a>Explore</button>
      </div>
  </div>
  <div class="grid-item">
      <img id="vehicle3" src="images/ford.PNG" style="width:100%">
      <div class="text-container">
        <p>*name of vehicle* </p>
        <p> *price of vehicle*</p>
        <p> *mpg*</p>
       <button class="explore-button"><a></a>Explore</button>
      </div> 
  </div>  
  <div class="grid-item">
      <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
      <div class="text-container">
        <p>*name of vehicle* </p>
        <p> *price of vehicle*</p>
        <p> *mpg*</p>
       <button class="explore-button"><a></a>Explore</button>
      </div>
  </div>
  <div class="grid-item">
      <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
      <div class="text-container">
        <p>*name of vehicle* </p>
        <p> *price of vehicle*</p>
        <p> *mpg*</p>
       <button class="explore-button"><a></a>Explore</button>
      </div>
  </div>
  <div class="grid-item">
    <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
    <div class="text-container">
      <p>*name of vehicle* </p>
      <p> *price of vehicle*</p>
      <p> *mpg*</p>
     <button class="explore-button"><a></a>Explore</button>
    </div>
</div>
<div class="grid-item">
    <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
    <div class="text-container">
      <p>*name of vehicle* </p>
      <p> *price of vehicle*</p>
      <p> *mpg*</p>
     <button class="explore-button"><a></a>Explore</button>
    </div>
</div>
<div class="grid-item">
    <img id="vehicle3" src="images/ford.PNG" style="width:100%">
    <div class="text-container">
      <p>*name of vehicle* </p>
      <p> *price of vehicle*</p>
      <p> *mpg*</p>
     <button class="explore-button"><a></a>Explore</button>
    </div> 
</div>  
<div class="grid-item">
    <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
    <div class="text-container">
      <p>*name of vehicle* </p>
      <p> *price of vehicle*</p>
      <p> *mpg*</p>
     <button class="explore-button"><a></a>Explore</button>
    </div>
</div>
<div class="grid-item">
    <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
    <div class="text-container">
      <p>*name of vehicle* </p>
      <p> *price of vehicle*</p>
      <p> *mpg*</p>
     <button class="explore-button"><a></a>Explore</button>
    </div>
</div>
<div class="grid-item">
  <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle3" src="images/ford.PNG" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div> 
</div>  
<div class="grid-item">
  <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle3" src="images/ford.PNG" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div> 
</div>  
<div class="grid-item">
  <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle1" src="images/2015-Chevrolet-BoltEV-Concept-exterior-001.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle2" src="images/2020-Audi-E-Tron-Sportback-11.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle3" src="images/ford.PNG" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div> 
</div>  
<div class="grid-item">
  <img id="vehicle4" src="images/Hyundai_IONIQ_Electric_2020-01.jpg" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div>
<div class="grid-item">
  <img id="vehicle5" src="images/JDPA_2020 Hyundai Kona Ultimate White Front View.webp" style="width:100%">
  <div class="text-container">
    <p>*name of vehicle* </p>
    <p> *price of vehicle*</p>
    <p> *mpg*</p>
   <button class="explore-button"><a></a>Explore</button>
  </div>
</div> -->
        </div>

        <!-- <footer class="footer-section">
      <small class="copyright-text">ComparEv &copy;2021</small>
  </footer>  -->

    </body>

    <script src="./js/Header.js" type="module"></script>

</html>